<!-- SECTION 1 -->

<div class="container-fluid bg">

    <div class="row justify-content-center p-5">
  
        <div class="col-12 col-md-6 text-left text-md-center p-xl-5 m-xl-5 m-0 mt-4 p-1">
  
            <img class="mb-5" style="width: 174px; height: 164px;" src="../assets/logo.png"> 

            <h1 class="text-uppercase "> Brevemente Online</h1>
            
            <h5 class="mt-4 mb-3 p-md-5" style="opacity: 0.55;"> Website em desenvolvimento. Iremos dar noticias em breve com grandes novidades.</h5>
            
            <button  class="btn1" (click)="openInstagram('insta')" > Instagram </button>

            <button class="btn2 m-4"  > <a style="text-decoration: none; color: white;" href="https://www.google.com/maps/place/NF+Training/@41.1692277,-8.5513093,15z/data=!4m5!3m4!1s0x0:0xc815ef175774ef62!8m2!3d41.1692295!4d-8.5513569">Visitar</a>  </button>
  
        </div>
  
        
    </div>
  
  </div>

