<!-- SECTION 1 -->
<div class="container-fluid bg1" >

    <app-nav ></app-nav>

    <div class="row justify-content-center">

        <div class="col-12 text-center text-md-center p-5 m-5" >

            <img src="url('../../../../assets/done.png" alt="Girl in a jacket" width="80px" height="80px">

            <h1 class="title pl-4" style="font-size: 4vmax; text-shadow: -12px -2px 14px #00000012;"> Compra  <br> Efetuada  </h1> 

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"   > <a href="./" style="color: rgb(48, 47, 47); text-decoration: none;"> Menu Inicial </a></button>


        </div>

    </div>

</div>

<!-- SECTION 5 -->
<div class="container-fluid bg-all"> 
</div>

<!-- SECTION 4 -->
<div class="container-fluid " style="background: linear-gradient(0deg, rgb(255, 255, 255) 82%,rgb(255, 255, 255) 88% );
margin-top: -10px">

    <div class="row justify-content-center pl-5 pb-5 pr-5 " style="padding-top: 120px" data-aos="zoom-in-up" data-aos-duration="1490">

        <div class="col-12" data-aos="flip-right" data-aos-duration="900">
            <p class="text-center title1" >
             E AGORA? 
            </p><hr style="background-color: #63f4f3; width: 224px; height: 2px;">
         </div>

        <div class="col-12 col-md-5 text-left  p-1 p-md-5 m-0 part1" >

            <div style = "padding: 3%;"> 
                <p style="opacity: 0.2;"> // P r i m e i r o  P a s s o</p>
                
                <h5 style=" font-weight: bold; "  > AVALIAÇÃO <br>FISICA </h5>

                <p class="mt-4"> Em breve, irá receber uma chamada para agendar uma avaliação presencial com um dos nossos formadores para garantirmos
                    o estado atual dos nossos clientes e conseguirmos guardar todos os dados durante o processo de transformação. </p>

                
            </div>

        </div>

        <div class="col-12 col-md-5 text-left  p-0 p-md-5 m-1 part2" data-aos="zoom-in-up" data-aos-duration="1890">

            <div style = "padding: 7%;"> 
                <p style="opacity: 0.2;"> // S e g u n d o  P a s s o</p>

                <h5 style=" font-weight: bold; "  > ACOMP. <br> SEMANAL </h5>

                <p class="mt-4"> Após avaliação inicial vamos dar inicio aos treinos com acompanhamento semanal por um dos nossos formadores. Todas 
                    as aulas serão individuais, no horario que mais favorecer o cliente e onde quiser.

            </div>

           


        </div>

        <div class="col-12 col-md-5 text-left  p-1 p-md-5 m-0 part3" data-aos="zoom-in-up" data-aos-duration="2890">

            <div style = "padding: 3%;"> 
                <p style="opacity: 0.2;"> // T e r c e i r o  P a s s o</p>

                <h5 style=" font-weight: bold; "  > RESULTADOS <br>GARANTIDOS </h5>

                <p class="mt-4"> Com a conclusão do pacote e de todos os treinos presenciais,  ultima etapa passa por uma ultima avaliação
                    presencial informatizarmos todo o processo de transformção e resultados. Garantimos que todo o processo é informatizado e guardado digitalmente.  

            </div>
        </div>
        
        <div class="col-12 text-center"> 
            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"   > <a href="./contact" style="color: rgb(48, 47, 47); text-decoration: none;"> Contactar Agora </a></button>

        </div>

    </div>



</div>





<app-footer></app-footer>
