
<footer id="contactos" class="page-footer font-small  pt-5  pb-5"  style="background: linear-gradient(to top,#020609, rgb(15, 28, 34));
; color: white;">

    <!-- Footer Links -->
    <div class="container pl-2 pr-2  align-items-center ">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class=" col-md-4 m-4 m-md-0 mt-md-0 mt-3 p-2 text-left">
  
          <!-- Content -->
          <h4 class="text">Contactos</h4>
          <p>Rio Tinto, Porto</p>
          <p class="large" style="color: #bde5f1;">info.nfcoaching@gmail.com</p>
          <p class="large">Tel - 917699760 </p>
          <button> <a href="/contact"> Fale Connosco</a></button>
  
        </div>
        <!-- Grid column -->
  
  
        <!-- Grid column -->
        <div class="col-12  col-md-4 col-md-4 m-4 m-md-0 mb-md-0 mb-3 text-left">
  
            <!-- Links -->
            <h3 class="text" >Serviços</h3>
  
            <ul class="list-unstyled">
              <li>
                <a href="/page">Personal Training</a>
              </li>
              <li>
                <a href="/page">Online Training</a>
              </li>
              <li>
                <a href="/page">Planos Nutrição</a>
              </li>
              <li>
                <a href="/page">Acompanhamentos</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-12 col-md-4 col-md-4 m-4 m-md-0 mb-md-0 mb-3 text-left">
  
            <!-- Links -->
            <h3 class="" > Encontre-nos Em: </h3>
            
            <ul class="list-unstyled">
              <li>
                <a (click)="instagram()">Instagram</a>
              </li>
              <li>
                <a (click)="instagram()">OLX Portugal</a>
              </li>
              <li>
                <a (click)="instagram()">Habitadissimo</a>
              </li>
              <li>
                <a (click)="instagram()">Pai.pt</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
      </div>
      
      <div class="row">
        <div class="col-12 text-center witech">
         <a href="https://witech-web.web.app/"> Developed by Witech Software </a>  
        </div>
      </div>

  
    </div>
    
  </footer>