<!-- SECTION 1 -->
<div class="container-fluid bg1" >

    <app-nav ></app-nav>

    <div class="row justify-content-center">

        <div class="col-12 text-center text-md-left p-5 m-5" >

            <h4 style="color: #63f4f3; font-weight: bold; font-size: 2vmax;" class="mb-3 pl-4 mt-5" data-aos="zoom-in" data-aos-duration="1990" > // T h e  T i m e   i s  N o w</h4>

            <h1 class="title pl-4" style="font-size: 4vmax; text-shadow: -12px -2px 14px #00000012;"> PERSONAL <br> TRAINING  </h1>

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"  data-aos="zoom-in-up" data-aos-duration="2490"  > <a href="./personalCoach"> Comprar Agora </a></button>


        </div>

    </div>

</div>

<!-- SECTION 2-->
<div class="container-fluid " style="background-color: white; margin-top: -10px">

    <div class="row justify-content-center m-1 mt-0" style="padding-top: 5%; padding-bottom: 2%;"> 
        
        <div class="col-12 col-lg-5 text-left p-4 p-md-5 mt-5" data-aos="fade-right" data-aos-duration="1490">

            <p style="color: #63f4f3; font-weight: bold;" data-aos="zoom-in" data-aos-duration="1990" > // T h e  T i m e   i s  N o w</p>

            <h1 class="title" style="color: rgb(40, 179, 221);"> O QUE <br> ENCONTRAR</h1>

            <p style="color: rgb(55, 55, 55); letter-spacing: 2px; word-spacing: 3px; line-height: 1.7;" class="mt-4"> No plano PERSONAL TRAINING, 
                em todos os pacotes fornecidos pela NF Training os clientes terão acesso a treinos: funcioniais, outdoor ou de ginasio. <br>
                O plano de nutrição é algo oferecido no nosso plano, para complementar todos os treinos semanais e presenciais.   
                 <br>  

            <button class="btn1 mt-4 mb-2"  data-aos="zoom-in-up" data-aos-duration="2490"   > <a href="./personalCoach" > Comprar </a></button>

        </div>

        <div class="col-12 col-lg-5  text-center p-lg-3 mt-0">

            <img style="width: 103%; height: 103%;" src="../../assets/x12.png">

        </div>

    </div>

</div>

<!-- SECTION 1 -->
<div class="container-fluid " style="background: linear-gradient(0deg, rgba(12,29,37,0.9220271915584416) 12%, rgba(99,244,243,1) 88%, rgba(255,255,255,1) 96%);
margin-top: -10px">

    <div class="row justify-content-center pl-5 pb-5 pr-5" style="padding-top: 120px">

        <div class="col-12 col-md-3 text-center card-list p-5 m-3" >

            <h3 style=" font-weight: bold; " class="mb-3 pl-4 mt-5" data-aos="zoom-in" data-aos-duration="1990" > Amador </h3>

            <h1 class=" pl-4" style="font-size: 3vmax; text-shadow: -12px -2px 14px #00000012;"> 220€ <br>  </h1>

            <p class="mt-4"> 10x Treinos </p>

            <p> 1x Plano Nutrição </p>

            <p> 2x Avalição </p>

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"  data-aos="zoom-in-up" data-aos-duration="2490"  > <a href="./personalCoach"> Comprar </a></button>


        </div>

        <div class="col-12 col-md-3 text-center card-list p-5 m-1" >

            <h3 style="font-weight: bold;" class="mb-3 pl-4 mt-5" data-aos="zoom-in" data-aos-duration="1990" > Standard  </h3>

            <h1 class=" pl-4" style="font-size: 3vmax; text-shadow: -12px -2px 14px #00000012;"> 300€ <br>  </h1>

            <p class="mt-4"> 15x Treinos </p>

            <p> 1x Plano Nutrição </p>

            <p> 2x Avalição </p>

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"  data-aos="zoom-in-up" data-aos-duration="2490"  > <a href="./personalCoach"> Comprar </a></button>


        </div>

        <div class="col-12 col-md-3 text-center card-list p-5 m-3" >

            <h3 style="font-weight: bold; " class="mb-3 pl-4 mt-5" data-aos="zoom-in" data-aos-duration="1990" > Profissional  </h3>

            <h1 class=" pl-4" style="font-size: 3vmax; text-shadow: -12px -2px 14px #00000012;"> 360€ <br>  </h1>

            <p class="mt-4"> 20x Treinos </p>

            <p> 3x Plano Nutrição </p>

            <p> 4x Avalição </p>

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"  data-aos="zoom-in-up" data-aos-duration="2490"  > <a href="./personalCoach"> Comprar </a></button>


        </div>

        
        

        

    </div>

</div>



<app-footer></app-footer>
