<!-- SECTION 1 -->
<div class="container-fluid bg1" >

    <app-nav ></app-nav>

    <div class="row justify-content-center">

        <div class="col-12 text-center text-md-left p-5 m-5"  >

            <h4 style="color: #63f4f3; font-weight: bold; font-size: 2vmax;" class="mb-3 pl-4 mt-5" data-aos="zoom-in" data-aos-duration="1990" > // T h e  T i m e   i s  N o w</h4>

            <h1 class="title pl-4" style="font-size: 4vmax; text-shadow: -12px -2px 14px #00000012;"> PERSONAL <br> TRAINING  </h1>

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"   > <a href="./personalCoach" style="color: rgb(48, 47, 47); text-decoration: none;"> Comprar Agora </a></button>


        </div>

    </div>

</div>

<!-- SECTION 2-->
<div class="container-fluid " style="background-color: white; margin-top: -10px">

    <div class="row justify-content-center m-1 mt-0" style="padding-top: 5%; padding-bottom: 2%;"> 
        
        <div class="col-12 col-lg-5 text-left p-4 p-md-5 mt-5" data-aos="fade-right" data-aos-duration="1490">

            <p style="color: #63f4f3; font-weight: bold;" data-aos="zoom-in" data-aos-duration="1990" > // T h e  T i m e   i s  N o w</p>

            <h1 class="title" style="color: rgb(40, 179, 221);"> O QUE <br> ENCONTRAR</h1>

            <p style="color: rgb(55, 55, 55); letter-spacing: 2px; word-spacing: 3px; line-height: 1.7;" class="mt-4"> No plano PERSONAL TRAINING, 
                 todos os pacotes fornecidos pela NF Training os clientes terão acesso a treinos: funcioniais, outdoor ou de ginasio. 
                O plano de nutrição é algo oferecido no nosso plano, para complementar todos os treinos semanais e presenciais. Encontra os nossos preços mais abaixo.
                 <br>  

            <button class="btn1 mt-4 mb-2"  data-aos="zoom-in-up" data-aos-duration="2490"   > <a href="./personalCoach" style="color: rgb(48, 47, 47); text-decoration: none;" > Comprar </a></button>

        </div>

        <div class="col-12 col-lg-5  text-center p-lg-3 mt-0">

            <img style="width: 103%; height: 103%;" src="../../assets/x12.png">

        </div>

    </div>

</div>

<!-- SECTION 3 -->
<div fragment="buy" class="container-fluid " style="background: linear-gradient(0deg, rgba(99,244,243,1) 12%, rgba(99,244,243,1) 88%, rgba(255,255,255,1) 96%);
margin-top: -10px">

    <div class="row justify-content-center pl-5 pb-5 pr-5" style="padding-top: 120px" data-aos="zoom-in-up" data-aos-duration="1490">

        <div class="col-12 col-lg-3 text-center card-list p-5 m-3" >

            <h3 style=" font-weight: bold; " class="mb-3 pl-4 mt-5" > Iniciado </h3>

            <h3 class=" pl-4 price-color" > 250€ <br>  </h3>

            <p class="mt-4"> 10x Treinos </p>

            <p> 1x Plano Nutrição </p>

            <p> 2x Avalição </p>

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"    > <a href="./personalCoach" style="color: rgb(48, 47, 47); text-decoration: none;"> Comprar </a></button>


        </div>

        <div class="col-12 col-lg-3 text-center card-list p-5 m-3" data-aos="zoom-in-up" data-aos-duration="1890">

            <h3 style="font-weight: bold;" class="mb-3 pl-4 mt-5" > Intermédio  </h3>

            <h3 class=" pl-4 price-color"> 330€ <br>  </h3>

            <p class="mt-4"> 15x Treinos </p>

            <p> 1x Plano Nutrição </p>

            <p> 3x Avalição </p>

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"    > <a href="./personalCoach" style="color: rgb(48, 47, 47); text-decoration: none;"> Comprar </a></button>


        </div>

        <div class="col-12 col-lg-3 text-center card-list p-5 m-3" data-aos="zoom-in-up" data-aos-duration="2890">

            <h3 style="font-weight: bold; " class="mb-3 pl-4 mt-5" > Elite  </h3>

            <h3 class=" pl-4 price-color" > 400€ <br>  </h3>

            <p class="mt-4"> 20x Treinos </p>

            <p> 2x Plano Nutrição </p>

            <p> 4x Avalição </p>

            <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"    > <a href="./personalCoach" style="color: rgb(48, 47, 47); text-decoration: none;"> Comprar </a></button>


        </div>

        
        

        

    </div>

</div>

<!-- SECTION 4 -->
<div class="container-fluid " style="background: linear-gradient(0deg, rgb(255, 255, 255) 82%,rgb(255, 255, 255) 88% );
margin-top: -10px">

    <div class="row justify-content-center pl-5 pb-5 pr-5 " style="padding-top: 120px" data-aos="zoom-in-up" data-aos-duration="1490">

        <div class="col-12" data-aos="flip-right" data-aos-duration="900">
           <p class="text-center title1" >
            COMO FUNCIONA
           </p><hr style="background-color: #63f4f3; width: 224px; height: 2px;">
        </div>

        <div class="col-12 col-md-5 text-left  p-1 p-md-5 m-3 part1" >

            <div style = "padding: 3%;"> 
                <p style="opacity: 0.2;"> // P r i m e i r o  P a s s o</p>
                
                <h5 style=" font-weight: bold; "  > AVALIAÇÃO <br>FISICA </h5>

                <p class="mt-4"> Inicialmente, todos os clientes irão fazer uma avaliação presencial com um dos nossos formadores para garantirmos
                    o estado atual dos nossos clientes e conseguirmos guardar todos os dados durante o processo de transformação. </p>

                
            </div>

        </div>

        <div class="col-12 col-md-5 text-left  p-0 p-md-5 m-1 part2" data-aos="zoom-in-up" data-aos-duration="1890">

            <div style = "padding: 7%;"> 
                <p style="opacity: 0.2;"> // S e g u n d o  P a s s o</p>

                <h5 style=" font-weight: bold; "  > TREINOS <br>PRESENCIAIS </h5>

                <p class="mt-4"> Após avaliação inicial vamos dar inicio aos treinos individuis e presenciais com um dos nossos formadores. Todas 
                    as aulas serão individuais, no horario que mais favorecer o cliente e onde quiser.

            </div>

           


        </div>

        <div class="col-12 col-md-5 text-left  p-1 p-md-5 m-0 part3" data-aos="zoom-in-up" data-aos-duration="2890">

            <div style = "padding: 3%;"> 
                <p style="opacity: 0.2;"> // T e r c e i r o  P a s s o</p>

                <h5 style=" font-weight: bold; "  > RESULTADOS <br>GARANTIDOS </h5>

                <p class="mt-4"> Com a conclusão do pacote e de todos os treinos presenciais,  ultima etapa passa por uma ultima avaliação
                    presencial informatizarmos todo o processo de transformção e resultados. Garantimos que todo o processo é informatizado e guardado digitalmente.  

            </div>
        </div>

        
        

        

    </div>

</div>

<!-- SECTION 5 -->
<div class="container-fluid bg-all"> 
</div>

<!-- SECTION 6-->
<div class="container-fluid mt-5 pb-5" style="background: linear-gradient(0deg, rgba(99,244,243,1) 12%, rgba(99,244,243,1) 88%, rgb(12, 29, 37) 96%); margin-top: -10px; margin-bottom: -10px;">

    <div class="row justify-content-center m-1 mt-0" style="padding-top: 15%; padding-bottom: 4%;"> 
        
        <div class="col-12 col-lg-5 text-left p-4 p-md-5 mt-5" data-aos="fade-right" data-aos-duration="1490">

            <p style="color: #ffffff; font-weight: bold;" data-aos="zoom-in" data-aos-duration="1990" > // T u D e c i d e s </p>

            <h5 style="color: #043131; font-size: 1.3cm; font-weight: bold;"> Cria o teu  <br> Pacote</h5>

            <p style="color: rgb(53, 52, 52); letter-spacing: 2px; word-spacing: 3px; line-height: 1.7;" class="mt-4"> 

            Aqui tens a possiblidade de criar e personalizar o teu pacote. Seleciona as opções que mais se enquadram com as tuas preferências 
            e mostramos-te o melhor preço. <br> Todos os planos incluem 1x nutrição e 2x avaliações presenciais, uma no inicio e no final do projeto.
            

        </div>

        <div class="col-12 col-lg-5  text-center p-lg-3 mt-5">

           <div class="row justify-content-center"> 

            <div class="col-12 col-lg-8 text-center card-list p-5 m-3" >

                <h3 style=" font-weight: bold; color: rgb(169, 233, 238); " class="mb-3 pl-4 mt-5" > Personalizado </h3>
                
                <h3 class=" pl-4 price-color" > {{ price }} € <br>  </h3>
    
                <p class="mt-4"> Nº de treinos </p>
                    <mat-select [(value)]="selectedValue_1" class="form-control form-control-sm mb-4 text-center" >
                        <mat-option (click)="priceRefresh()" value="5">5x</mat-option>
                        <mat-option (click)="priceRefresh()" value="10">10x</mat-option>
                        <mat-option (click)="priceRefresh()" value="15">15x</mat-option>
                        <mat-option (click)="priceRefresh()" value="20">20x</mat-option>
                        <mat-option (click)="priceRefresh()" value="25">25x</mat-option> 
                    </mat-select>
                
            
                <p> Treinos Por Semana </p>
                <mat-select [(value)]="selectedValue_2" class="form-control form-control-sm mb-4 text-center" >
                    <mat-option (click)="priceRefresh()" value="1">1 p/ semana</mat-option>
                    <mat-option (click)="priceRefresh()" value="1">2 p/ semana</mat-option>
                    <mat-option (click)="priceRefresh()" value="0.97">3 p/ semana</mat-option>
                    <mat-option (click)="priceRefresh()" value="0.93">4 p/ semana</mat-option>
                    <mat-option (click)="priceRefresh()" value="0.87">5 p/ semana</mat-option> 
                </mat-select>

                <p > Tempo por Treino </p>
                <mat-select [(value)]="selectedValue_3" class="form-control form-control-sm mb-4 text-center" >
                    <mat-option (click)="priceRefresh()" value="2">30 min</mat-option>
                    <mat-option (click)="priceRefresh()" value="1">60min</mat-option>
                </mat-select>
        
                <button class="btn2 mt-4 mb-2" (click)="payment()"  data-aos="zoom-in-up" data-aos-duration="2490"  > <a style="color: rgb(48, 47, 47); text-decoration: none;" > Comprar </a></button>

            </div>

           </div>

        </div>


    </div>

</div>

<!-- SECTION 7 -->
<div class="container-fluid" style="background-color: rgb(255, 255, 255); padding-top: 7%; padding-bottom: 10%;" >

    <div class="row justify-content-center p-5" >

        <div class="col-12" data-aos="flip-right" data-aos-duration="900">
            <p class="text-center title1" >
             Feedbacks
            </p><hr style="background-color: #63f4f3; width: 224px; height: 2px;">
         </div>

        <!-- feedback 1 -->
       <div class="col-12 col-lg-4 text-center feedback m-3">

            <div class="row">
                <div class="col-3 p-3">

                    <img class="p-0" src="../../assets/andre.jpg"  style = "width:69px; height:66px; border-radius: 52px;"> 
                    <h3 class="p-2"> André Vieira</h3>
    
                </div>
    
                <div class="col-8 p-3 ml-3 text-left">
    
                    <p style="color: black;  font-size: 16px; opacity: 0.7;"> " Foi tudo o que sempre desejei. Treinar com acompanhmento e alcançar os meus objetivos num curto espaço de tempo." </p>
    
                </div>
            </div>

       </div>

         <!-- feedback 2 -->
       <div class="col-12 col-lg-4 text-center feedback m-3">

        <div class="row">
            <div class="col-3 p-3">

                <img class="p-2" src="../../assets/catia.jfif"  style = "width:79px; height:75px; border-radius: 52px;"> 
                <h3 class="p-2"> Catia Castro </h3>

            </div>

            <div class="col-8 pt-3 pb-3 ml-4 text-left">

                <p style="color: black; font-size: 14px; opacity: 0.7;"> "Um obrigado à equipa NFTRAINING por me ajudar alcançar os meus objetivos e a fazer perceber que alimentação é 99% dos resultados" </p>

            </div>
        </div>

   
    </div>

    </div>

    <div class="row justify-content-center">

        <button class="btn1 mt-4 mb-2 p-3 ml-4 text-primary"   > <a href="/personalCoach" style="color: rgb(48, 47, 47); text-decoration: none;"> Comprar Agora </a></button>

    </div>

</div>

<app-footer></app-footer>
