
<!-- SECTION 1  WEB VERSION -->
<div class="container-fluid bg1 justify-content-center " >

    <app-nav class="mb-1" ></app-nav>

    <div class="row mt-5 justify-content-center"> 

        <div class="col-12 col-lg-5 text-left pl-4 pl-lg-1 pr-4 pt-4 pb-4"> 

            <div class="col">
                    
                <h1 class="  title">
                    Personal training
                </h1>

            </div>

            <div class="col mt-5"> 
                <h4>
                    Acompanhamento presencial e personalizado. O plano perfeito para o corpo perfeito.
                </h4>
            </div>
            
            
            <button class="btn1 mt-5" > <a> Ver pacotes</a></button>
            
        </div>

        <div class="col-12 col-lg-5 text-right p-4 mt-5 mt-md-0"> 

            <div class="col">
                
                <h1 class="  title">
                    Online
                </h1>

                <h1 class="  title">
                    training
                </h1>

            </div>

            <div class="col mt-5"> 
                <h4>
                    Planos de treino e  
                </h4>
                <h4>
                    acompanhamento online. 
                </h4>
            </div>
            
            
            <button class="btn1 mt-5" > <a> Ver pacotes</a></button>

        </div>

    </div>
  
<div> 



    

