
<!-- SECTION 1   -->
<div id="bg1" class="container-fluid bg1 justify-content-center " >

    <app-nav class="mb-1" ></app-nav>

    <div class="row mt-5 justify-content-center"> 

        <div class="col-12 col-lg-5 text-left pl-4 pl-lg-1 pr-4 pt-4 pb-4"> 

            <div class="col">
                    
                <h1 class="  title">
                    PERSONAL
                </h1>

                <h1 class="  title">
                    TRAINING
                </h1>

            </div>

            <div class="col mt-5" style="opacity: 0.81;"> 
                <h4>
                    Acompanhamento presencial. <br> O plano perfeito para <br> o corpo perfeito.
                </h4>
                
            </div>
            
            
            <button class="btn1 mt-5" (mouseover)="showBox('1')" (mouseout)="closeBox('1')" > <a> Ver pacotes</a></button>
            
        </div>

        <div class="col-12 col-lg-5 text-left text-md-right p-4 mt-l mt-md-0  " > 

            <div class="col margin-iphone " >
                
                <h1 class="  title">
                    ONLINE
                </h1>

                <h1 class="  title">
                    TRAINING
                </h1>

            </div>

            <div class="col mt-5" style="opacity: 0.81;"> 
                <h4>
                    Planos de treino e  
                </h4>
                <h4>
                    acompanhamento online. 
                </h4>
            </div>
            
            
            <button class="btn1 mt-5 mb-5" (mouseover)="showBox('2')" (mouseout)="closeBox('2')" > <a> Ver pacotes</a></button>

        </div>

    </div>
  
<div> 


    

