

<!-- SECTION 1 -->
<div class="container-fluid bg" >

    <app-nav ></app-nav>


    <div class="row text-left p-5">

        <div class="col-12 col-md-5 text-left p-xl-5 m-xl-5 m-0 mt-4 p-1">

            <h1 class="title"> LET'S GET </h1>
            <h1 class="title"> ENERGIZED</h1>
            <h1 class="title"> TOGETHER </h1>

            <h5 class="mt-3" style="opacity: 0.4;"> Damos ao seu sonho as forças necessarias para concretizar os resultados perfeitos. </h5>

            <button class="btn1" id="btn_service"> <a style="color: rgb(16, 55, 77);" href="#services" > Serviços </a> </button>
            <button class="btn2 m-4"> <a  href="./contact"> Contactar </a> </button>

        </div>

        <!-- Web version -->
        <div class="col-12 col-md-5 m-2  d-none d-md-block " >

            <img class="triangle" src="../../assets/triangle.png " data-aos="zoom-in-up" data-aos-duration="490" > 


        </div>

        <!-- Mobile version -->
        <div class="col-12 col-md-12 m-2  d-block d-md-none">

            <img class="circle-mobile" src="../../assets/mob.png" data-aos="fade-down" data-aos-duration="2999"  > 

        </div>

    </div>

    <!-- 
    <div class="row m-4 mb-5">

        <div class="col-12 m-1 text-center" data-aos="zoom-in" data-aos-duration="890">
            <h2 class="opacity-25 mb-md-1 mb-3 space-word" > Parceiros </h2> 
        </div>

        <div class="col-12 text-center" >
            
            <img class="m-2 m-md-5 logo-sm " (click)="openInstagram('solinca')" data-aos="zoom-in" data-aos-duration="790" src="../../assets/solinca.png"> 

            <img class="m-2 m-md-5 logo-sm opacity-75" (click)="openInstagram('witech')"  data-aos="zoom-in" data-aos-duration="1890" src="../../assets/logo-witech.png"> 

            <img class="m-2 m-md-5 logo-sm opacity-75" (click)="openInstagram('amm')" data-aos="zoom-in" data-aos-duration="2890" src="../../assets/logo-amm.png"> 

        </div>

    </div>
    -->

</div>

<!-- SECTION 2-->
<div class="container-fluid mt-4">

    <div class="row justify-content-center m-1 mt-0" style="padding-top: 5%; padding-bottom: 2%;"> 
        
        <div class="col-12 col-lg-5 text-left p-4 p-md-5 mt-5" data-aos="fade-right" data-aos-duration="1490">

            <p style="color: #63f4f3; font-weight: bold;" data-aos="zoom-in" data-aos-duration="1990" > // T h e  T i m e   i s  N o w</p>

            <h1 class="title" style="color: white;"> Personal Training</h1>

            <p style="color: white; letter-spacing: 2px; word-spacing: 3px; line-height: 1.7;" class="mt-4"> Na NF Training oferecemos aos clientes o uso avançado de sistemas de planeamento de treino e nutricional que permite uma espectativa em tempo real de todos os aspectos relacionados com o condicionamento e emagracimento dos clientes.

                Nesta nossa nova plataforma digital poderá visualizar em detalhe todos os serviços que disponiblizamos aos nossos clientes. <br>  

            <button class="btn2 mt-4 mb-2"  data-aos="zoom-in-up" data-aos-duration="2490"  > <a href="./contact"> Saber mais </a></button>

        </div>

        <div class="col-12 col-lg-5  text-center p-lg-3 mt-0">

            <img style="width: 103%; height: 103%;" src="../../assets/x12.png">

        </div>

    </div>

</div>

<!-- SECTION 3-->
<div class="container-fluid">

    <div class="row justify-content-center m-0 mt-0" style="padding-top: 1%; padding-bottom: 3%;"> 

        <!-- Web version -->
        <div class="col-12 col-lg-5 m-2  d-none d-lg-block " >

            <img style="width: 104%; height: 98%;" src="../../assets/xx12.png"> 


        </div>

        <div class="col-12 col-lg-5 text-left p-4 p-md-5 mt-5">

            <p style="color: #63f4f3; font-weight: bold;" data-aos="zoom-in" data-aos-duration="490" > // G e t  R e a d y </p>

            <h1 class="title" style="color: white;"> Online Training</h1>

            <p style="color: white; letter-spacing: 2px; word-spacing: 3px; line-height: 1.7;" class="mt-4"> Se treinar presencialmente é um problema, temos a solução. Fornecemos aos nossos clientes acompanhamento online personalizado. Com o uso avançado da nossa nova plataforma digital, fornecemos planeamento de treino e nutricionl que permite uma espectativa em tempo real de todos os aspectos relacionados com o condicionamento e emagracimento dos clientes.

                Nesta nossa nova plataforma digital poderá visualizar em detalhe todos os serviços que disponiblizamos aos nossos clientes. <br>  

            <button class="btn2 mt-4 mb-2"  data-aos="zoom-in-up" data-aos-duration="2490"  > <a href="./contact"> Saber mais </a></button>

        </div>

        <!-- Mobile version -->
        <div class="col-12 col-md-12   d-block d-lg-none" style="margin-top: -20px;">

            <img style="width: 100%; max-height: 100%;" src="../../assets/xx12.png">

        </div>


    </div>

</div>

<div class="container-fluid bg3  d-none d-md-block"> </div>

<div class="container-fluid bg3m  d-block d-md-none"> </div>

<div class="container-fluid">

    <div class="row"> 
 
        <div class="col-3 service-bg1">

        </div>


    </div>

</div>

<app-footer></app-footer>
